<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <title>树洞</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/vendor/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{assets/vendor/linearicons/style.css}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{assets/css/main.css}">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" th:href="@{assets/css/demo.css}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{assets/img/apple-icon.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{assets/img/favicon.png}">
    <!-- 日期输入 -->
    <link th:href="@{assets/vendor/bootstrap/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a th:href="@{/index}"><img th:src="@{/assets/img/logo-dark.png}" alt="Klorofil Logo" class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <form class="navbar-form navbar-left"method="post" th:action="@{/searchAccount}" role="form">
                <div class="input-group">
                    <input type="text" name="searchBox" class="form-control" th:placeholder="${searchString}">
                    <span class="input-group-btn"><button type="submit" class="btn btn-primary">Go</button></span>
                </div>
            </form>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                            <i class="lnr lnr-alarm"></i>
                            <!--<span class="badge bg-danger">5</span>-->
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
                            <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
                            <li><a href="#" class="more">See all notifications</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Basic Use</a></li>
                            <li><a href="#">Working With Data</a></li>
                            <li><a href="#">Security</a></li>
                            <li><a href="#">Troubleshooting</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                            <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                            <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                            <li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                        </ul>
                    </li>
                    <!-- <li>
                        <a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">
                    <li><a th:href="@{/tree}" class="active"><i class="lnr lnr-chart-bars"></i> <span>树洞</span></a></li>
                    <li><a th:href="@{/wishSea}" class=""><i class="lnr lnr-code"></i> <span>心愿海</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-profile">
                    <div class="clearfix">
                        <!-- LEFT COLUMN -->
                        <div class="profile-left">
                            <!-- PROFILE HEADER -->
                            <div class="profile-header">
                                <div class="overlay"></div>
                                <div class="profile-main">
                                    <img th:src="${presentAccount.getAvatar()}" class="img-circle" alt="Avatar">
                                    <h3 class="name" th:text="${presentAccount.getNikeName()}">Samuel Gold</h3>
                                    <span class="online-status status-available">Available</span>
                                </div>
                                <div class="profile-stat">
                                    <div class="row">
                                        <div class="col-md-4 stat-item">
                                            <span th:text="${myWish.size()}"></span><span>心愿</span>
                                        </div>
                                        <div class="col-md-4 stat-item">
                                            <span th:text="${myComments.size()}"></span><span>评论</span>
                                        </div>
                                        <div class="col-md-4 stat-item">
                                            <span th:text="${goodNum}"></span><span>赞</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PROFILE HEADER -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane in active fade" id="profile">
                                    <!-- PROFILE DETAIL -->
                                    <div class="profile-detail">
                                        <div class="profile-info">
                                            <h4 class="heading">个人简介</h4>
                                            <ul class="list-unstyled list-justify">
                                                <li>出生日期<span th:text="${presentAccount.getBirthday().toString().substring(0,10)}">24 Aug, 2016</span></li>
                                                <li>邮箱<span th:text="${presentAccount.getEmail()}">samuel@mydomain.com</span></li>
                                            </ul>
                                        </div>
                                        <div class="profile-info">
                                            <h4 class="heading">其他信息</h4>
                                            <ul class="list-unstyled list-justify">
                                                <li>1</li>
                                                <li>2</li>
                                            </ul>
                                        </div>
                                        <div class="profile-info">
                                            <h4 class="heading">个人介绍</h4>
                                            <p th:text="${presentAccount.getSelfIntro()}">Interactively fashion excellent information after distinctive outsourcing.</p>
                                        </div>
                                        <div class="text-center"><a href="#editProfile" data-toggle="tab" class="btn btn-primary" style="position:relative;top:400px;">编辑资料</a></div>
                                    </div>
                                    <!-- END PROFILE DETAIL -->
                                </div>
                                <div class="tab-pane fade" id="editProfile">
                                    <!-- PROFILE DETAIL -->
                                    <div class="profile-edit">
                                        <form method="post" th:action="@{/editPost}" role="form">
                                            <div class="profile-info">
                                                <h4 class="heading">个人简介</h4>
                                                <ul class="list-unstyled list-justify">
                                                    <li><input name="userNameEdit" type="text" th:value="${presentAccount.getNikeName()}" class="form-control" placeholder="用户名" required=""></li>
                                                    <li><input name="emailEdit" type="email" th:value="${presentAccount.getEmail()}" class="form-control" placeholder="邮箱" required=""></li>
                                                    <li>出生日期：
                                                        <input class="form-control" type="date" id="birthdayEdit" name="birthdayEdit" required>
                                                        <script th:inline="javascript">
                                                            var birth = [[${presentAccount.getBirthday()}]];
                                                            document.getElementById('birthdayEdit').value= birth.toString().substring(0,10);
                                                        </script>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="profile-info">
                                                <h4 class="heading">个人介绍</h4>
                                                <textarea name="introEdit" th:text="${presentAccount.getSelfIntro()}" th:value="${presentAccount.getSelfIntro()}" class="form-control" placeholder="个人介绍" rows="4" required=""></textarea>
                                            </div>
                                            <div class="text-center"><a href="#profile" data-toggle="tab" class="btn btn-default">返回</a>&nbsp;<button type="submit"  class="btn btn-primary">保存修改</button></div>
                                        </form>
                                    </div>
                                    <!-- END PROFILE edit -->
                                </div>
                            </div>

                        </div>
                        <!-- END LEFT COLUMN -->
                        <!-- RIGHT COLUMN -->
                        <div class="profile-right">
                            <h4 class="heading"><a href="#" type="button" class="btn-toggle-collapse">写一个心愿 <i class="lnr lnr-chevron-up"></i></a></h4>
                            <!-- INPUT -->
                            <div class="panel-body">
                                <form method="post" th:action="@{/addWish}" role="form">
                                    <input name="wishTitle" type="text" class="form-control" placeholder="标题" required>
                                    <br>
                                    <textarea name="wishContent" class="form-control" placeholder="内容" rows="4" required></textarea>
                                    <br>
                                    <span>可见性：</span>
                                    <input name="visibility" value="self" type="radio" id="self">
                                    <label for="self">仅自己</label>
                                    <input name="visibility" value="all" type="radio" id="all">
                                    <label for="all">所有人</label>
                                    <script>document.getElementsByName("visibility")[0].checked="checked";</script>
                                    <button style="float:right;" type="submit" class="btn btn-primary">发布</button>
                                </form>
                            </div>
                            <!-- END INPUT -->

                            <!-- TABBED CONTENT -->
                            <div class="custom-tabs-line tabs-line-bottom left-aligned">
                                <ul class="nav" role="tablist">
                                    <li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">我的心愿</a></li>
                                    <li><a href="#tab-bottom-left5" role="tab" data-toggle="tab">我发布的的评论</a></li>
                                    <li><a href="#tab-bottom-left2" role="tab" data-toggle="tab">收到的评论</a></li>
                                    <li><a href="#tab-bottom-left4" role="tab" data-toggle="tab">收藏的心愿</a></li>
                                    <li><a href="#tab-bottom-left3" role="tab" data-toggle="tab">收到的消息</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-bottom-left1">
                                    <div class="table-responsive">
                                        <table class="table table project-table" style="table-layout: fixed;">
                                            <thead>
                                            <tr>
                                                <th class="mwrap" ><div class="mwrap">标题</div></th>
                                                <th>评论数</th>
                                                <th>点赞数</th>
                                                <th>发布时间</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="Wish : ${myWish}">
                                                <td class="mwrap"><a href="#" data-toggle="modal" th:data-target="@{'#dialog'+${Wish.getWishID()}}"><div  class="mwrap" th:text="${Wish.getTitle()}" th:title="${Wish.getTitle()}">标题</div></a></td>
                                                <td th:text="${Wish.getCommentNum()}">45</td>
                                                <td th:text="${Wish.getGoodNum()}">2</td>
                                                <td th:text="${Wish.getRelTime().toString().substring(0,16)}"></td>
                                                <td><a  th:href="@{'deleteMyWish/'+${Wish.getWishID()}}"><span class="lnr lnr-trash"></span>删除</a></td>
                                                <!-- 模态框（Modal） -->
                                                <div class="modal fade" th:id="'dialog' + ${Wish.getWishID()}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                    &times;
                                                                </button>
                                                                <h4 class="modal-title">
                                                                    <span th:text="${Wish.getTitle()}">心愿标题</span><span> 作者: </span>
                                                                    <span th:text="${Wish.getAccountInfo().getNikeName()}">作者</span>
                                                                </h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h4>心愿内容：</h4>
                                                                <p th:text="${Wish.getContent()}">心愿内容</p>
                                                                <p>
                                                                    <a href="#"><span class="lnr lnr-thumbs-up"></span>点赞
                                                                    <span th:text="${Wish.getGoodNum()}">点赞数</span></a>&nbsp;&nbsp;&nbsp;
                                                                    <a href="#"><span class="lnr lnr-heart"></span>收藏
                                                                    <span th:text="${Wish.getCollectionNum()}">收藏数</span></a>&nbsp;&nbsp;&nbsp;发布时间：
                                                                    <span th:text="${Wish.getRelTime().toString().substring(0,10)}">发布时间</span></p>
                                                            </div>
                                                            <hr>
                                                            <div class="modal-body">
                                                                <h4>评论内容：</h4>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                            </div>
                                                            <form method="post" th:action="@{/addComment}" role="form">
                                                                <div class="modal-body">
                                                                    <textarea name="cmEdit" class="form-control" placeholder="发表内容" rows="4" required=""></textarea>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary">发表评论</button>
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                                </div>
                                                                <input type="hidden" name="wishID"  th:value="${Wish.getWishID()}">
                                                            </form>
                                                        </div><!-- /.modal-content -->
                                                    </div>
                                                </div><!-- /.modal -->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="margin-top-30 text-center"><a href="#" class="btn btn-default">查看更多</a></div>
                                </div>
                                <div class="tab-pane fade" id="tab-bottom-left2">
                                    <div class="table-responsive">
                                        <table class="table project-table">
                                            <thead>
                                            <tr>
                                                <th>评论者</th>
                                                <th>评论内容</th>
                                                <th>评论时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="otherCm : ${otherComments}">
                                                <td><img  th:src="${otherCm.getAccountInfo().getAvatar()}" width="22px" alt="Avatar" class="avatar img-circle"> <a href="#" th:text="${otherCm.getAccountInfo().getNikeName()}">Michael</a></td>
                                                <td class="mwrap"><a href="#" data-toggle="modal" th:data-target="@{'#otherCm'+${otherCm.getCMID()}}"><div  class="mwrap" th:text="${otherCm.getCMContent()}" th:title="${otherCm.getCMContent()}">标题</div></a></td>
                                                <td th:text="${otherCm.getCMTime().toString().substring(0,16)}"></td>
                                                <!-- 模态框（Modal） -->
                                                <div class="modal fade" th:id="'otherCm' + ${otherCm.getCMID()}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                    &times;
                                                                </button>
                                                                <h4 class="modal-title">
                                                                    <span th:text="${otherCm.getWish().getTitle()}">心愿标题</span><span> 作者: </span>
                                                                    <span th:text="${otherCm.getWish().getAccountInfo().getNikeName()}">作者</span>
                                                                </h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h4>心愿内容：</h4>
                                                                <p th:text="${otherCm.getWish().getContent()}">心愿内容</p>
                                                                <p>
                                                                    <a href="#"><span class="lnr lnr-thumbs-up"></span>点赞
                                                                        <span th:text="${otherCm.getWish().getGoodNum()}">点赞数</span></a>&nbsp;&nbsp;&nbsp;
                                                                    <a href="#"><span class="lnr lnr-heart"></span>收藏
                                                                        <span th:text="${otherCm.getWish().getCollectionNum()}">收藏数</span></a>&nbsp;&nbsp;&nbsp;发布时间：
                                                                    <span th:text="${otherCm.getCMTime().toString().substring(0,16)}">发布时间</span></p>
                                                            </div>
                                                            <hr>
                                                            <div class="modal-body">
                                                                <h4>评论内容：</h4>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                            </div>
                                                            <div class="modal-body">
                                                                <textarea name="wishContent" class="form-control" placeholder="发表内容" rows="4" required=""></textarea>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary" data-dismiss="modal">发表评论</button>
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div>
                                                </div><!-- /.modal -->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="margin-top-30 text-center"><a href="#" class="btn btn-default">查看更多</a></div>
                                </div>
                                <div class="tab-pane fade" id="tab-bottom-left3">   <!--待做-->
                                    <ul class="list-unstyled activity-timeline">
                                        <li>
                                            <img src="assets/img/user1.png" width="34px" alt="Avatar" class="avatar img-circle" />&nbsp;&nbsp;&nbsp;<a href="#">Michael</a>
                                            评论了你的心愿：<a href="#" data-toggle="modal" data-target="#myMessage">“我发表过的心愿标题”</a> <p><span class="timestamp">2 minutes ago</span></p>
                                        </li>
                                        <!-- 模态框（Modal） -->
                                        <div class="modal fade" id="myMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                            &times;
                                                        </button>
                                                        <h4 class="modal-title">
                                                            心愿标题     by:作者XXX
                                                        </h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h4>心愿内容：</h4>
                                                        <p>Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.</p>
                                                        <p><span class="lnr lnr-thumbs-up"></span>点赞45  <span class="lnr lnr-heart"></span>收藏41   时间：2018-6-25 15:46</p>
                                                    </div>
                                                    <hr>
                                                    <div class="modal-body">
                                                        <h4>评论内容：</h4>
                                                        <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                        <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                        <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                        <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                        <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                        <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                    </div>
                                                    <div class="modal-body">
                                                        <textarea name="wishContent" class="form-control" placeholder="发表内容" rows="4" required=""></textarea>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">发表评论</button>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal -->
                                        </div>
                                        <li>
                                            <img src="assets/img/user1.png" width="34px" alt="Avatar" class="avatar img-circle" />&nbsp;&nbsp;&nbsp;<a href="#">Michael</a>
                                            点赞了你的心愿：<a href="#">“我发表过的心愿标题”</a> <p><span class="timestamp">4 hours ago</span></p>
                                        </li>
                                        <li>
                                            <img src="assets/img/user1.png" width="34px" alt="Avatar" class="avatar img-circle" />&nbsp;&nbsp;&nbsp;<a href="#">Michael</a>
                                            评论了你的心愿：<a href="#">“我发表过的心愿标题”</a> <p><span class="timestamp">1 days ago</span></p>
                                        </li>
                                    </ul>
                                    <div class="margin-top-30 text-center"><a href="#" class="btn btn-default">查看更多</a></div>
                                </div>
                                <div class="tab-pane fade" id="tab-bottom-left4">
                                    <div class="table-responsive">
                                        <table class="table project-table">
                                            <thead>
                                            <tr>
                                                <th>心愿标题</th>
                                                <th>评论数</th>
                                                <th>点赞数</th>
                                                <th>收藏时间</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="myCo : ${myCollection}">
                                                <td class="mwrap"><a href="#" data-toggle="modal" th:data-target="@{'#myCo'+${myCo.getWish().getWishID()}}"><div  class="mwrap" th:text="${myCo.getWish().getTitle()}" th:title="${myCo.getWish().getTitle()}">标题</div></a></td>
                                                <td th:text="${myCo.getWish().getCommentNum()}">45</td>
                                                <td th:text="${myCo.getWish().getGoodNum()}">2</td>
                                                <td th:text="${myCo.getCLTime().toString().substring(0,16)}"></td>
                                                <td><a  th:href="@{'deleteMyCollection/'+${myCo.getCollectionID()}}"><span class="lnr lnr-trash"></span>删除</a></td>
                                                <!-- 模态框（Modal） -->
                                                <div class="modal fade" th:id="'myCo' + ${myCo.getWish().getWishID()}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                    &times;
                                                                </button>
                                                                <h4 class="modal-title">
                                                                    <span th:text="${myCo.getWish().getTitle()}">心愿标题</span><span> 作者: </span>
                                                                    <span th:text="${myCo.getWish().getAccountInfo().getNikeName()}">作者</span>
                                                                </h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h4>心愿内容：</h4>
                                                                <p th:text="${myCo.getWish().getContent()}">心愿内容</p>
                                                                <p>
                                                                    <a href="#"><span class="lnr lnr-thumbs-up"></span>点赞
                                                                        <span th:text="${myCo.getWish().getGoodNum()}">点赞数</span></a>&nbsp;&nbsp;&nbsp;
                                                                    <a href="#"><span class="lnr lnr-heart"></span>收藏
                                                                        <span th:text="${myCo.getWish().getCollectionNum()}">收藏数</span></a>&nbsp;&nbsp;&nbsp;发布时间：
                                                                    <span th:text="${myCo.getCLTime().toString().substring(0,16)}">发布时间</span></p>
                                                            </div>
                                                            <hr>
                                                            <div class="modal-body">
                                                                <h4>评论内容：</h4>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                            </div>
                                                            <div class="modal-body">
                                                                <textarea name="wishContent" class="form-control" placeholder="发表内容" rows="4" required=""></textarea>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary" data-dismiss="modal">发表评论</button>
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div>
                                                </div><!-- /.modal -->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="margin-top-30 text-center"><a href="#" class="btn btn-default">查看更多</a></div>
                                </div>
                                <div class="tab-pane fade" id="tab-bottom-left5">
                                    <div class="table-responsive">
                                        <table class="table project-table">
                                            <thead>
                                            <tr>
                                                <th>评论内容</th>
                                                <th>评论时间</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="myCm : ${myComments}">
                                                <td class="mwrap"><a href="#" data-toggle="modal" th:data-target="@{'#myCm'+${myCm.getCMID()}}"><div  class="mwrap" th:text="${myCm.getCMContent()}" th:title="${myCm.getCMContent()}">内容</div></a></td>
                                                <td th:text="${myCm.getCMTime().toString().substring(0,16)}"></td>
                                                <td><a  th:href="@{'deleteMyComment/'+${myCm.getCMID()}}"><span class="lnr lnr-trash"></span>删除</a></td>
                                                <!-- 模态框（Modal） -->
                                                <div class="modal fade" th:id="'myCm' + ${myCm.getCMID()}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                    &times;
                                                                </button>
                                                                <h4 class="modal-title">
                                                                    <span th:text="${myCm.getWish().getTitle()}">心愿标题</span><span> 作者: </span>
                                                                    <span th:text="${myCm.getWish().getAccountInfo().getNikeName()}">作者</span>
                                                                </h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h4>心愿内容：</h4>
                                                                <p th:text="${myCm.getWish().getContent()}">心愿内容</p>
                                                                <p>
                                                                    <a href="#"><span class="lnr lnr-thumbs-up"></span>点赞
                                                                        <span th:text="${myCm.getWish().getGoodNum()}">点赞数</span></a>&nbsp;&nbsp;&nbsp;
                                                                    <a href="#"><span class="lnr lnr-heart"></span>收藏
                                                                        <span th:text="${myCm.getWish().getCollectionNum()}">收藏数</span></a>&nbsp;&nbsp;&nbsp;发布时间：
                                                                    <span th:text="${myCm.getWish().getRelTime().toString().substring(0,16)}">发布时间</span></p>
                                                            </div>
                                                            <hr>
                                                            <div class="modal-body">
                                                                <h4>评论内容：</h4>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                                <p><a href="#">Steve</a>: 评论回复内容methodologies via best-of-breed </p>
                                                            </div>
                                                            <div class="modal-body">
                                                                <textarea name="wishContent" class="form-control" placeholder="发表内容" rows="4" required=""></textarea>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary" data-dismiss="modal">发表评论</button>
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div>
                                                </div><!-- /.modal -->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="margin-top-30 text-center"><a href="#" class="btn btn-default">查看更多</a></div>
                                </div>
                            </div>
                            <!-- END TABBED CONTENT -->
                        </div>
                        <!-- END RIGHT COLUMN -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="copyright">Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
        </div>
    </footer>
</div>

<!-- END WRAPPER -->
<!-- Javascript -->
<script th:src="@{assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{assets/vendor/toastr/toastr.min.js}"></script>
<script th:src="@{assets/scripts/klorofil-common.js}"></script>
<script th:src="@{assets/vendor/bootstrap/js/bootstrap-datetimepicker.js}" charset="UTF-8"></script>
<script th:src="@{assets/vendor/bootstrap/js/bootstrap-datetimepicker.zh-CN.js}" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  0,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>
</body>

</html>
