<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <title>心愿海</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/vendor/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{assets/vendor/linearicons/style.css}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{assets/css/main_cg.css}">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" th:href="@{assets/css/demo.css}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{assets/img/apple-icon.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{assets/img/favicon.png}">

    <script>
        function changeLength(obj, str) {
            var lg = obj.value.length;
            var a = document.getElementById(str);
            a.innerHTML = lg;
        }

        function toggleCollect(){
            var textSpan = document.getElementById("collectText");
            //var str="收藏";
            var b=document.getElementById("isCollected");
            var a = document.getElementById("collectNum");
            var num = new Number(a.innerHTML);
            var isCollected=new Number(b.innerHTML);
            if (isCollected == 1) {
                num = num - 1;
                //str = "收藏";
                isCollected = 0 ;
            }
            else
            {
                num = num + 1;
                //str = "已收藏";
                isCollected = 1 ;
            }
            a.innerHTML = num;
            b.innerHTML = isCollected;
            textSpan.innerHTML = str;
        }

        function toggleGood(){
            var textSpan = document.getElementById("goodText");
            //var str = "点赞";
            var b=document.getElementById("isGooded");
            var a = document.getElementById("goodNum");
            var num = new Number(a.innerHTML);
            var isCollected=new Number(b.innerHTML);
            if (isCollected == 1) {
                num = num - 1;
                //str = "点赞";
                isCollected = 0 ;
            }
            else
            {
                num = num + 1;
                //str = "已点赞";
                isCollected = 1 ;
            }
            a.innerHTML = num;
            b.innerHTML = isCollected;
            textSpan.innerHTML = str;
        }
    </script>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a th:href="@{/index}"><img th:src="@{/assets/img/logo-dark.png}" alt="Klorofil Logo" class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <h1>&nbsp;&nbsp;<a th:href="@{tree}">树洞</a>&nbsp;&nbsp;&nbsp;&nbsp;</h1>
                </li>
                <li>
                    <h1><a th:href="@{wishSea}">心愿海</a>&nbsp;&nbsp;&nbsp;&nbsp;</h1>
                </li>
            </ul>
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/logout}"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                        </ul>
                    </li>
                    <!-- <li>
                        <a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->

    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-6">
                        <div th:each="Wish : ${wishes}">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="background-color: white">
                                            <h3 th:text="${Wish.getTitle()}">
                                                标题
                                            </h3>
                                            <p th:text="${Wish.getContent()}">心愿内容</p>
                                            <hr>
                                            <span>
                                                <a th:href="@{'#dialog'+${Wish.getWishID()}}">
                                                    <span class="lnr lnr-thumbs-up"></span>点赞<span th:text="${Wish.getGoodNum()}"></span>
                                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a th:href="@{'#dialog'+${Wish.getWishID()}}">
                                                    <span class="lnr lnr-heart"></span>收藏<span th:text="${Wish.getCollectionNum()}"></span>
                                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a data-toggle="collapse" data-parent="#accordion" th:href="@{'#dialog'+${Wish.getWishID()}}">
                                                    <span class="lnr lnr-bubble"></span>评论<span th:text="${Wish.getCommentNum()}"></span>
                                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                发布时间：
                                                <span th:text="${Wish.getRelTime().toString().substring(0,16)}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                作者：<a href="#"><span th:text="${Wish.getAccountInfo().getNikeName()}"></span></a>
                                            </span>
                                        </div>
                                        <div th:id="'dialog' + ${Wish.getWishID()}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul class="list-unstyled" th:each="myWishCm : ${aWishToComment.getByWishID(Wish.getWishID())}">
                                                    <li><span th:text="${myWishCm.getAccountInfo().getNikeName()}">作者</span><span>： </span>
                                                        <span th:text="${myWishCm.getCMContent()}">内容</span>
                                                        <br>
                                                        <span style="float: right" th:text="${myWishCm.getCMTime().toString().substring(0,16)}"></span><hr>
                                                    </li>
                                                </ul>
                                                <form class="form-auth-small" method="post" th:action="@{/addWishSeaComment}" role="form">
                                                    <div class="modal-body">
                                                        <textarea name="cmEdit" class="form-control" placeholder="发表内容" rows="4" maxlength="140"  th:onkeyup="'changeLength(this,'+ ${Wish.getWishID()} + ')'" required=""></textarea>
                                                        字数：<span th:id="${Wish.getWishID()}">0</span>/140
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">发表评论</button>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                    </div>
                                                    <input type="hidden" name="wishID"  th:value="${Wish.getWishID()}">
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="col-lg-3 hidden-xs hidden-sm hidden-md">
                        <div style="position: fixed">
                            <ul>今日热门
                                <ol>热门第1的心愿</ol>
                                <ol>热门第2的心愿</ol>
                                <ol>热门第3的心愿</ol>
                                <ol>热门第4的心愿</ol>
                                <ol>热门第5的心愿</ol>
                                <ol>热门第6的心愿</ol>
                                <ol>热门第7的心愿</ol>
                                <ol>热门第8的心愿</ol>
                                <ol>热门第9的心愿</ol>
                                <ol>热门第10的心愿</ol>
                            </ul>
                            <ul>随机心愿
                                <ol>随机的心愿1</ol>
                                <ol>随机的心愿1</ol>
                                <ol>随机的心愿1</ol>
                                <ol>随机的心愿1</ol>
                                <ol>随机的心愿1</ol>
                                <ol>随机的心愿1</ol>
                                <ol>随机的心愿1</ol>
                                <ol>随机的心愿1</ol>
                                <ol>随机的心愿1</ol>
                                <ol>随机的心愿1</ol>
                            </ul>
                        </div>
                    </nav>

                    <div class="col-lg-1"></div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="copyright">Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
        </div>
    </footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/scripts/klorofil-common.js"></script>
</body>

</html>
